<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Un-Mask</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <h1><a href="/login">Detecting Deep Fakes</a></h1>
        <ul>
            <li><a href="/" class="btn">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/help">Help</a></li>
            <li><a href="/login" class="btn">Logout</a></li>

        </ul>
    </nav>